*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    font-family:'Montserrat',sans-serif;
}

.hero{
    width:100%;
    height:100vh;

    background-image:url("fondo-web-index.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    position:relative;
}

.overlay{

    position:absolute;
    inset:0;

    background:linear-gradient(
        90deg,
        rgba(0,0,0,.45) 0%,
        rgba(0,0,0,.20) 45%,
        rgba(0,0,0,.05) 100%
    );

}

header{

    position:absolute;

    top:0;
    left:0;

    width:100%;

    padding:40px 70px;

    z-index:100;
}

nav{

    display:flex;

    justify-content:flex-end;

    gap:45px;
}

nav a{

    color:white;

    text-decoration:none;

    font-size:14px;

    text-transform:uppercase;

    letter-spacing:3px;

    font-weight:500;

    transition:.3s;
}

nav a:hover{

    color:#d4af37;

}

.texto{

    position:absolute;

    right:8%;

    top:50%;

    transform:translateY(-50%);

    width:38%;

    z-index:20;

    color:white;

}

.texto h1{

    font-size:96px;

    font-weight:800;

    line-height:.88;

    letter-spacing:2px;

    text-shadow:4px 4px 18px rgba(0,0,0,.75);

}

.texto p{

    margin-top:20px;

    font-size:18px;

    letter-spacing:8px;

    font-weight:300;

}
