/* ======================================================
   BILLY PAGÁN · SITIO OFICIAL
   buttons.css
   BOTONES
====================================================== */


/* ======================================================
   01. BASE
====================================================== */

button {

    margin: 0;
    padding: 0;

    border: 0;

    background: none;

    font: inherit;

    color: inherit;

    cursor: pointer;

}


/* ======================================================
   FIN · buttons.css
====================================================== */
