/* ======================================================
   BILLY PAGÁN · SITIO OFICIAL
   header.css
   CABECERA
====================================================== */


/* ======================================================
   HEADER
====================================================== */

.menu {

    position: absolute;

    top: 0;
    left: 0;

    z-index: 20;

    width: 100%;
}

.menu nav {

    width: 100%;
}
